@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.bestseller {
  display: flex;
  align-items: center;
  gap: 30rem;
  padding: 0 6.4rem;
  margin-bottom: 14rem;
  position: relative;

  &:nth-child(even) {
      flex-direction: row-reverse;

      .bestseller__background {
          transform: scaleX(-1);
          left: 0;
          right: auto;
      }
  }

  &__card {
    width: 25%;
    padding: 1.6rem 1.6rem 2.4rem;
    background: linear-gradient(180deg, #fdffb4 6.94%, #ffdb7d 100%);
    border: 1px solid $color-dark;
    box-shadow: $box-shadow;
    transform-style: preserve-3d;
    cursor: pointer;

    &--inner {
      transform: translateZ(4rem);
    }
  }

  &__img {
    width: 100%;
    height: 18.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $color-white;
    margin-bottom: 2.4rem;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__desc {
    font-size: 1.4rem;
  }

  &__books {
      display: flex;
      align-items: center;
      gap: 12rem;
  }

  &__book {
      height: 32.6rem;
      box-shadow: $box-shadow;

      img {
          height: 100%;
      }
  }

  &__background {
      position: absolute;
      bottom: -12rem;
      right: 0;
      z-index: -1;
  }
}
