@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.number-box {
  display: inline-flex;
  align-items: center;

  button {
    width: 3.2rem;
    min-height: 3.2rem;
    padding: 0 !important;

    span {
      @include centerBox;
    }
  }

  &__input {
    width: 4.8rem;
    height: 3.2rem;
    padding: 0 4px !important;
    border-left: none !important;
    border-right: none !important;
  }
}