@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.headline {
    position: relative;
    z-index: 1;

    &__container {
        display: inline-block;
        width: auto;
        position: relative;
    }

    &__decoration {
        width: 75%;
        height: 2.4rem;
        position: absolute;
        left: -4px;
        background-image: $color-gradient--reverse;
        z-index: 0;
    }
}

@media (max-width: 640px) {
    .headline {
        &__decoration {
            width: 85%;
            height: 1.6rem;
            bottom: 0 !important;
        }
    }
}