@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.hero {
  padding-left: 6.4rem;
  display: flex;
  align-items: center;

  &--left {
    width: 50%;
    transform: translateY(-6.4rem);
  }

  &--right {
    width: 50%;
    position: relative;
  }

  &__img {
    width: 80%;
    transform: rotate(21deg);
    object-fit: cover;
    box-shadow: 4rem 2rem 2.4rem -8px rgba(black, 0.4);

    &-info {
      @include glassStyle;
      @include centerLayout;
      width: 100%;
      padding: 3.2rem 6.4rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &-button {
      @include backgroundImage;
      width: 9.6rem;
      height: 9.6rem;
    }
  }
}