@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.carousel {
  &__container {
    position: relative;
  }

  &__background {
    width: 100%;
    position: absolute;
    bottom: -33%;
    z-index: -1;

    img {
      width: 100%;
    }
  }

  &__item {
    height: 32.6rem;
    box-shadow: $box-shadow;

    img {
      height: 100%;
    }
  }

  .slick-slide {
    width: auto !important;
    margin-left: 6.4rem;
    margin-right: 3.2rem;
  }

  &__button {
    @include centerBox;
    position: relative;
    top: 0;
    left: 6.4rem;
    margin-bottom: 6.4rem;

    &.next {
      position: absolute;
      top: 0;
      left: auto;
      right: 6.4rem;
    }

    &-icon {
      &.prev {
        transform: rotate(180deg);
      }

      &.next {
        transform: rotate(0deg);
      }
    }
  }
}

@media (min-width: 1600px) {
  .carousel {
    &__background {
      bottom: -35%;
    }
  }
}

@media (min-width: 1700px) {
  .carousel {
    &__background {
      bottom: -38%;
    }
  }
}

@media (min-width: 1900px) {
  .carousel {
    &__background {
      bottom: -40%;
    }
  }
}