.book-detail {
  padding: 0 6.4rem;
  display: flex;
  gap: 20rem;

  &__image {
    height: 100%;

    &-container {
      height: 60rem;
    }
  }

  &__title {
    margin-bottom: 2.4rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 6.4rem;
  }
}