@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.book-detail {
  padding: 9.6rem 6.4rem;
  display: flex;
  gap: 20rem;

  &--left {
    position: relative;
  }

  &--right {
    width: 100%;
  }

  &__image {
    height: 100%;

    &-container {
      height: 60rem;
    }
  }

  &__background {
    position: absolute;
    bottom: -22%;
    left: -6.4rem;
    z-index: -1;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
  }

  &__title {
    margin-bottom: 2.4rem;
  }

  &__icon {
    @include iconLarge;
    background-image: url('../../assets/icons/icon-heart.svg');
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 6.4rem;
  }

  &__seller {
    display: inline-flex;
    gap: 8px;
  }

  &__price {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    margin-bottom: 1.6rem;

    &-text {
      font-size: 4rem;
      font-weight: bold;
      color: $color-primary;
      line-height: 40px;
    }
  }

  &__button {
    &-container {
      margin-top: 3.2rem;
      display: flex;
      align-items: center;
      gap: 3.2rem;
    }
  }

  &--bottom {
    margin-top: 4rem;
    margin-bottom: 9.6rem;
    display: flex;
    align-items: flex-start;
  }

  &__description {
    width: 50%;
    padding: 4.8rem 4.8rem 4.8rem 6.4rem;
    border-top: 1px solid $color-dark;

    &-header {
      font-weight: bold;
      margin-bottom: 3.2rem !important;
    }
  }

  &__reviews {
    width: 50%;
    height: 74rem;
    overflow: auto;
    padding: 4.8rem 6.4rem;
    border-left: 1px solid $color-dark;
    border-bottom: 1px solid $color-dark;

    &-header {
      font-weight: bold;
      margin-bottom: 3.2rem !important;
    }
  }

  &__recommend {
    margin-bottom: 20rem;

    .headline__container {
      position: relative;
      left: 6.4rem;
      display: inline-block;
      margin-bottom: 4.8rem;
    }
  }
}