@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.footer {
  margin-top: 18rem;
  padding: 9.6rem 6.4rem 6.4rem;
  background-image: $color-gradient--reverse;
  display: flex;
  justify-content: space-between;
  position: relative;

  &--left {
    width: 25%;
  }

  &--right {
    margin-top: 2.4rem;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 12.8rem;

    a {
      color: $color-dark;
      font-weight: bold;
    }
  }

  &__logo {
    margin-bottom: 1.6rem;
  }

  &__contact {
    margin-top: 6.4rem;

    &-links {
      margin-top: 1.6rem;
      display: flex;
      gap: 4.8rem;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 8px;

      &-col {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      span {
        color: $color-dark;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__separator {
    width: 1px;
    height: 75%;
    background-color: $color-dark;
    position: absolute;

    &.left {
      bottom: 0;
      left: 40%;
    }

    &.right {
      top: 0;
      left: 44%;
    }
  }
}
